*{
  margin: 0px; 
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  color: #485664;
}

 .name {
  font-size: 30px;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 6px 4px 4px #000;
  color: #ff8921;
}
